body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f4eeff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.content {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  background-color: #dcd6f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  color: #424874;
  margin-bottom: 20px;
}

form {
  text-align: left;
  margin: 20px 0;
}

label {
  display: block;
  font-size: 16px;
  color: #424874;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 2px solid #a6b1e1;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #a6b1e1;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.btn:hover {
  background-color: #dcd6f7;
}
